<!DOCTYPE html>
<html lang="es">
<!-- Head -->
<%- include('../partials/head', {title: 'Listado'}) %>
	<body>
		<!-- header -->
		<%- include('../partials/headerNavbar') %>
		<!-- /header -->
		<div class="card">
			<div class="card-body">
				<div class="leyesList">
					<% leyes.forEach(element => { %>
						<ul>
							<li>Nombre: <%= element.type %> - <%= element.number %> - <%= element.year %></li>
							<a href="/leyes/detail/<%= element.id %>">Ver Norma</a>
						</ul>
					<% }) %>
				</div>
			</div>
		</div>
		<!-- footer -->
		<%- include('../partials/footer') %>
		<!-- /footer -->
  </body>
</html>
